input {
	flex: 1;
	background-color: white;
	font-family: 'Open Sans Light';
	font-size: 10pt;
	color: #4a4a4a;
	border: 1pt solid #4a4a4a;
	flex: 1;
	height: 30pt;
	margin-right: 20pt;
	padding-left: 20pt;
	width: 210pt;
	margin-bottom: 15px;
}

.mail {
	background-image: url(../../assets/mail.png);
	background-position: 270px;
	background-size: 15px;
	background-repeat: no-repeat;
}

.lock {
	background-image: url(../../assets/lock.png);
	background-position: 270px;
	background-size: 15px;
	background-repeat: no-repeat;
}

.account {
	font-family: 'Open Sans Semibold';
	font-size: 10pt;
	font-weight: 700;
	color: #4a4a4a;
	padding-bottom: 15pt;
	padding-top: 10pt;
}

.login {
	cursor: pointer;
	background: linear-gradient(to right, #ae23a9, #dc4e1b);
	font-family: 'Open Sans Semibold';
	color: #ffffff;
	font-size: 10pt;
	border: none;
	height: 35pt;
	width: 230pt;
}

.register {
	cursor: pointer;
	background-color: #ffffff;
	font-family: 'Open Sans Semibold';
	color: #4a4a4a;
	font-size: 10pt;
	border: 1pt solid #9b9b9b;
	height: 30pt;
	width: 230pt;
}

.textLogin {
	font-family: 'Open Sans Semibold';
	color: #4a4a4a;
	font-size: 10pt;
}

.error {
	font-size: 10pt;
	color: #dc4e1b;
}

.bottom pre {
	font-family: 'Open Sans Light';
	color: #4a4a4a;
	font-size: 10pt;
}

.separator {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: #9b9b9b;
	margin: 8pt 0pt;
}
.separator::before,
.separator::after {
	content: "";
	flex-grow: 1;
	background: #9b9b9b;
	height: 1px;
	font-size: 0pt;
	line-height: 0pt;
	margin: 0pt 8pt;
}

.control {
	font-family: "Open Sans Light";
	display: block;
	position: relative;
	padding-left: 25px;
	padding-top: 8px;
	color: #4a4a4a;
	cursor: pointer;
	font-size: 13px;
}
.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.control_indicator {
	position: absolute;
	top: 8px;
	left: 0;
	height: 12px;
	width: 12px;
	background: #ffffff;
	border: 1px solid #4a4a4a;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
	background: #ffffff;
}

.control input:checked ~ .control_indicator {
	background: #ffffff;
}

.control_indicator:after {
	box-sizing: unset;
	content: '';
	position: absolute;
	display: none;
}
.control input:checked ~ .control_indicator:after {
	display: block;
}
.control-checkbox .control_indicator:after {
	left: 4px;
	top: 1px;
	width: 3px;
	height: 8px;
	border: solid #4a4a4a;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

.separator p {
	font-size: 11pt;
}

hr {
	margin: 20pt 0;
	border: none;
	border-bottom: 1pt solid #9b9b9b;
	width: 100%;
}

.LoginPage {
	height: 700pt;
	display: grid;
	grid-template-rows: repeat(20, minmax(25pt, 1fr));
	grid-template-columns: repeat(80, minmax(10pt, 1fr));
	grid-gap: 5px;
}

.logo {
	grid-column: 1/80;
	grid-row: 2/20;
	z-index: 100;
}

.logo img {
	width: 180px;
	height: 23px;
	margin: -1px -30px;
	margin-top: 10px;
}

.backgroundimg {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
	top: 0;
	padding-left: 328pt;
	grid-row: 4/14;
	grid-column: 4/44;
}

form {
	background: #ffffff;
	box-shadow: 1px 1px 5px 1px #9b9b9b;
	z-index: 90;
	height: 380pt;
	width: 240pt;
	padding: 25px;
	flex-direction: column;
	align-items: center;
	grid-row: 2/-1;
	grid-column: 9 /80;
	padding-top: 70pt;
}
