/* Navbar container */
.navbar {
	overflow: hidden;
	position: absolute;
	background-color: #ffffff;
	font-family: 'Open Sans Light';
	position: fixed;
	top: 0;
	left: 0;
	padding-left: -40pt;
	width: 1000pt;
	height: 85px;
	z-index: 90;
	box-shadow: 0px 0px 8px 0px #9b9b9b;

}

.links {
	padding-right: 250pt;
}

.unselected a {
	color: #9B9B9B;
	font-family: "Open sans Light";
	float: right;
	padding: 10pt;
  display: block;
  text-align: center;
	padding-left: 50px;
	text-decoration: none;
}

.selected a {
	font-family: "Open sans";
	font-weight: 700;
	color: #4A4A4A;
	float: right;
	padding: 10pt;
  display: block;
  text-align: center;
	padding-left: 50px;
	text-decoration: none;

}

.logo {
  float: left;
  width: 138pt;
  height: 18pt;
  margin-left: 156pt;
  margin-top: 25pt;
}
